= simple_form_for @signing_in_history_search, url: admin_signing_in_histories_path, method: :get do |f|
  .modal-body
    = f.input :login
    = f.input :sign_succeed, collection: [[t('signing_in_histories.signing.succeed'), true], [t('signing_in_histories.signing.failed'), false]]
    = f.input :date_from, input_html: {class: 'datepicker'}
    = f.input :date_to, input_html: {class: 'datepicker'}
  .modal-footer
    = f.submit t("general.search"), class: 'btn btn-success'
    = link_to t('general.cancel'), 'javascript:void(0)', "data-dismiss" => "modal", class: 'btn btn-warning'
